

.navbar {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.nav-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.nav-title a {
    text-decoration: none;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
    color: rgb(12, 12, 12);
    font-size: 28px;
}

.navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
    color: rgb(12, 12, 12);
    font-size: 28px;
}